{% extends 'sidebar.html' %}

{% block title %}Assess Personalized Portfolio{% endblock %}

{% block links %}
<link href="{{ url_for('static', filename='css/assess_personalized_portfolio.css') }}" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="order-lg-first">
    <div class="row" id="main-div">
        <h2 id="main-heading">Build Your Portfolio</h2>
        <p id="sub-heading">Enter your NSE stocks and their weights to assess the portfolio</p>
        <form method="POST" id="portfolio-form">
            <div id="portfolio-wrapper">
                <div class="row my-2 stock-wrapper">
                    <div class="col-lg-8 my-2">
                        <select name="stock1" class="select2-selector">
                            <option value='' selected>--Select a stock--</option>
                            {% for company in companies %}
                            <option value="{{company.name}}">{{company.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-2 my-2">
                        <input type="number" min="0" max="100"
                            class="form-control bg-transparent border-0 text-white weight" name="weight1"
                            placeholder="Weight in %" required>
                    </div>
                    <div class="col my-2 action-buttons">
                        <button class="btn bg-transparent" id="add"><img src="/static/images/add-icon.png"
                                width="90%" /></button>
                        <button class="btn bg-transparent" id="minus"><img src="/static/images/delete-icon.png"
                                width="90%" /></button>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-flex col-12 mt-4 mx-auto justify-content-center">
                <button type="submit" class="btn assessButton" id="cta">Assess portfolio</button>
                <button class="btn btn-outline-primary" type="button" id="cta-secondary">Save portfolio</button>
            </div>
            <input type="hidden" id="stockCount" name="stockCount" value="">

        </form>

        <div id="chart-spinner" class="pt-4" style="display: none;">
            <div class="spinner"></div>
            <div class="spinner-text">Loading</div>
        </div>
        <div id="output-wrapper" style="display:none;">
            <p style="text-align:center;margin-top: 30px;">Return On Investment In Comparison To Risk Taken:</p>
            <h1 id="sharpe-ratio" style="text-align:center;margin-bottom:30px;font-size: 80px;"></h1>
            <div id="plot1" class="chart-info" style="width:94%;margin: 20px;"></div>

            <!-- <div id="plot2" class="chart-info" style="width:50%;margin: 20px;"></div> -->
        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}
<script>
    let stockCount = 1;
    // Add new experience input field when clicked on add circle (Delegated Event)
    $("body").on("click", "#add", function () {
        ++stockCount;
        $(".action-buttons").remove();
        let html =
            `<div class="row my-2 stock-wrapper">` +
            `    <div class="col-lg-8 my-2">` +
            `        <select name="stock${stockCount}" class="select2-selector">` +
            `            <option value='' selected>--Select a stock--</option>` +
            `            {% for company in companies %}` +
            `            <option value="{{company.name}}">{{company.name}}</option>` +
            `            {% endfor %}` +
            `        </select>` +
            `    </div>` +
            `    <div class="col-lg-2 my-2">` +
            `        <input type="number" min="0" max="100" class="form-control bg-transparent border-0 text-white weight"` +
            `            name="weight${stockCount}" placeholder="Weight in %" required>` +
            `    </div>` +
            `    <div class="col my-2 action-buttons">` +
            `        <button class="btn bg-transparent" id="add"><img src="/static/images/add-icon.png" width="90%" /></button>` +
            `        <button class="btn bg-transparent" id="minus"><img src="/static/images/delete-icon.png" width="90%" /></button>` +
            `    </div>` +
            `</div>`
        $("#portfolio-wrapper").append(html);
        $('.select2-selector').select2({
            width: '100%',
            dropdownAutoWidth: true
        });
    });

    //Delete respective education field or experience field when clicked on remove button (Delegated Event)
    $("body").on("click", "#minus", function () {
        $("#portfolio-wrapper").find(".stock-wrapper").last().remove();
        let html =
            `    <div class="col my-2 action-buttons">` +
            `        <button class="btn bg-transparent" id="add"><img src="/static/images/add-icon.png" width="90%" /></button>` +
            `        <button class="btn bg-transparent" id="minus"><img src="/static/images/delete-icon.png" width="90%" /></button>` +
            `    </div>`
        $("#portfolio-wrapper").find(".stock-wrapper").last().append(html);
        --stockCount;
    })

    //Change the cursor to pointer when it is on add circle icon and delete field icon
    $("body").on("mouseenter", "#add,#minus", function () {
        $(this).css("cursor", "pointer");
    })

    $("#cta").on("click", function (event) {
        stocks = [];
        weights = [];
        for (let i = 0; i < stockCount; i++) {
            stocks.push($(`[name='stock${i + 1}']`).val());
            weights.push($(`[name='weight${i + 1}']`).val());
        }
        validationOnClicked(weights);
        if (!$(".error")[0]) {
            $(`#chart-spinner`).css('display', 'block');
            $('#output-wrapper').hide();

            $.ajax({
                method: "POST",
                url: "/api/f1/line-chart",
                data: {
                    stocks: stocks,
                    weights: weights,
                },
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data)
                    let background_color = "#000517"
                    // let background_color = "rgba(0, 0, 21, 1)"
                    let grid_color = "#383838"
                    $(`#chart-spinner`).hide();
                    $("#output-wrapper").css('display', 'block')
                    //Sharpe Ratio
                    $("#sharpe-ratio").css('display', 'block')
                    if (data.sharpe_ratio < 1) {
                        $("#sharpe-ratio").text("Bad");
                    }
                    else if (data.sharpe_ratio >= 1 && data.sharpe_ratio < 1.99) {
                        $("#sharpe-ratio").text("Good");
                    }
                    else if (data.sharpe_ratio >= 2 && data.sharpe_ratio < 2.99) {
                        $("#sharpe-ratio").text("Very Good");
                    }
                    else if (data.sharpe_ratio >= 3) {
                        $("#sharpe-ratio").text("Excellent");
                    }

                    // Efficient Frontier
                    var plot1_trace1 = {
                        x: data.chart_data.expected_volatility,
                        y: data.chart_data.expected_return,
                        mode: 'markers',
                        type: 'scatter',
                        name: 'Others',
                        marker: {
                            size: 5,
                            color: "blue"
                        }

                    };
                    var plot1_trace2 = {
                        x: data.ef_ev,
                        y: data.ef_er,
                        mode: 'markers',
                        type: 'scatter',
                        name: 'Efficient Frontier',
                        marker: {
                            size: 12,
                            color: "red"
                        }
                    };

                    var plot1_data = [plot1_trace1, plot1_trace2];

                    var plot1_layout = {
                        plot_bgcolor: background_color,
                        paper_bgcolor: background_color,
                        autosize: true,
                        xaxis: {
                            title: 'Expected Volatility',
                            autorange: true,
                            gridcolor: grid_color,
                        },
                        yaxis: {
                            title: 'Expected Return',
                            autorange: true,
                            gridcolor: grid_color,
                        },
                        title: 'Portfolio Risk VS Returns',
                        font: {
                            size: 12,
                            color: '#7f7f7f'
                        }
                    };
                    let plot1_config = {
                        responsive: true,
                    }

                    Plotly.newPlot('plot1', plot1_data, plot1_layout, plot1_config);


                    // Fbprophet
                    // for (let i = 1; i <= data.newpreds; i++) {
                    let i = 0;
                    $.each(data.newpreds, function (key, value) {
                        i++;
                        var plot_traces = [
                            {
                                x: data.newpreds[key].ds,
                                y: data.newpreds[key].yhat_upper,
                                name: "Upper uncertainty interval",
                                line: {
                                    color: "#969696",
                                    width: 2
                                },
                                // mode: 'none'
                            },
                            {
                                x: data.newpreds[key].ds,
                                y: data.newpreds[key].yhat_lower,
                                name: "Lower uncertainty interval",
                                line: {
                                    color: "#969696",
                                    width: 2
                                },
                                // mode: 'none'
                            },

                            {
                                x: data.newpreds[key].ds,
                                y: data.newpreds[key].actual,
                                mode: 'markers',
                                type: 'scatter',
                                name: 'Actual',
                                marker: {
                                    size: 4,
                                    color: "#ADD8E6"
                                }
                            },
                            {
                                x: data.newpreds[key].ds,
                                y: data.newpreds[key].yhat,
                                name: "Forecast",
                                line: {
                                    color: "#387fba",
                                    width: 3
                                }
                            },
                        ]

                        var plot_layout = {
                            plot_bgcolor: background_color,
                            paper_bgcolor: background_color,
                            autosize: true,
                            xaxis: {
                                title: 'Dates',
                                autorange: true,
                                gridcolor: grid_color,
                            },
                            yaxis: {
                                title: 'Price',
                                autorange: true,
                                gridcolor: grid_color,
                            },
                            title: `${key} Price Prediction `,
                            font: {
                                size: 12,
                                color: '#7f7f7f'
                            }
                        };
                        let plot_config = {
                            responsive: true,
                        }
                        let html =
                            `<div id="plot${1 + i}" class="chart-info" style="width:95%;margin: 20px;"></div>`

                        $("#output-wrapper").append(html)
                        Plotly.newPlot(`plot${1 + i}`, plot_traces, plot_layout, plot_config);

                    })
                    window.onresize = function () {
                        Plotly.relayout('plot1', {
                            'xaxis.autorange': true,
                            'yaxis.autorange': true
                        });
                        for (let j = 1; j <= i; j++) {
                            Plotly.relayout(`plot${1 + j}`, {
                                'xaxis.autorange': true,
                                'yaxis.autorange': true
                            });
                        }

                    };


                    // $(`.chart-info`).css('display', 'block');
                }
            })
        }
    });

    $("#portfolio-form").on("submit",function(){
        event.preventDefault();
        $("#stockCount").val(stockCount);
        $('#form').submit();
    })



    function validationOnClicked(weights) {
        for (let i = 0; i < stockCount; i++) {
            if ($(`[name='stock${i + 1}']`).val() == '') {
                $(`[name='stock${i + 1}']`).closest("div").find("p").remove();
                $(`[name='stock${i + 1}']`).closest("div").append($("<p>").text("This field is required").addClass('error'))
            }
            else {
                $(`[name='stock${i + 1}']`).closest("div").find("p").remove();
            }
            if ($(`[name='weight${i + 1}']`).val() == '') {
                $(`[name='weight${i + 1}']`).closest("div").find("p").remove();
                $(`[name='weight${i + 1}']`).closest("div").append($("<p>").text("This field is required").addClass('error'))
            }
            else {
                $(`[name='weight${i + 1}']`).closest("div").find("p").remove();
            }
            let sum = 0
            for (let i = 0; i < weights.length; i++) {
                sum += parseInt(weights[i]);
            }
            //Need at least two stocks error?
            //zomato with others doesn't work because it's past data doesn't start with 2014
            if (sum != 100) {
                $("#portfolio-wrapper").find(".weighterror").remove();
                $("#portfolio-wrapper").append($("<p>").text("Total weight % is not 100.").addClass('error weighterror'))
            } else {
                $("#portfolio-wrapper").find(".weighterror").remove();
            }

        }
    }

    // $('#cta-secondary').on('click', function () {
    // Swal.fire({
    //     icon: 'error',
    //     title: 'File Too Big!',
    //     text: 'Select a file less than 256KB',
    // })
    //     stocks = [];
    //     weights = [];
    //     for (let i = 0; i < stockCount; i++) {
    //         stocks.push($(`[name='stock${i + 1}']`).val());
    //         weights.push($(`[name='weight${i + 1}']`).val());
    //     }

    //     const savePortfolio = $('<form />', {
    //         method: 'POST',
    //         action: `/saved-portfolios`,
    //         enctype: "multipart/form-data"
    //     });
    //     let html=
    //     '{{ form.hidden_tag() }}'+
    //     ``

    //     savePortfolio.append(html);

    //     const fields = [
    //         {
    //             label: $('Name'),
    //             field: $('{{form.name(class="form-control")}}'),
    //         },

    //     ];

    //     for (const field of fields) {
    //         const container = $('<div />', {
    //             class: 'd-flex flex-column my-4'
    //         });
    //         container.append(field.label);
    //         const inputField = field.field;
    //         if (field.value)
    //             inputField.val(field.value);
    //         container.append(inputField);
    //         savePortfolio.append(container);
    //     }

    //     savePortfolio.append($('<button />', {
    //         type: 'submit',
    //         class: 'd-none'
    //     }));
    //     Swal.fire({
    //         title: 'Save Portfolio',
    //         html: savePortfolio[0],
    //         showCancelButton: true,
    //         confirmButtonText: 'Save',
    //         preConfirm: function () {
    //             savePortfolio.find('button[type="submit"]').click();
    //             return false;
    //         },
    //     });
    //     $(".swal2-modal").css('background-color', 'rgb(49, 49, 49)');//Optional changes the color of the sweetalert 
    //     // $(".swal2-container.in").css('background-color', 'rgba(43, 165, 137, 0.45)');//changes the color of the overlay
    // });
    $(".border-start").removeClass('border-start')
    $("#tabs").find(".assess-personalized-portfolio").addClass("border-start")

</script>
{% endblock %}