{% extends 'base.html' %}

{% block title %}Features Page{% endblock %}
{% block links %}
<link href="{{ url_for('static', filename='css/features.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid d-flex flex-row">
        <div class="d-flex justify-content-start">
            <a class="navbar-brand"><img id="logo" src="/static/images/StockRisk.svg" /></a>
        </div>    
        <div class="d-flex justify-content-end flex-gap">
            {% if current_user.is_authenticated %}
            <a href="{{url_for('logout')}}"><button class="btn btn-outline-info">Sign Out</button></a>
            {% else %}
            <a href="{{url_for('sign_up')}}"><button class="btn btn-outline-info">Sign Up</button></a>
            <a href="{{url_for('login')}}"><button class="btn btn-outline-info">Sign In</button></a>
            {% endif %}
        </div>
        
    </div>
</nav>

<div class="container-fluid position-absolute top-50 start-50 translate-middle" id="main-div">

    <div class="row text-white" id="row">
        <div class="text-center">
            <h1>What's in store for you?</h1>
            <div class="border-top border-primary" id="store"></div><br>
            <p class="text-secondary">Be assured our calculations provide the best of results for our hobby investors
            </p>
        </div>

        <div class="col text-center">

            <div id="feature-1">
                <img id="icon-1" src="/static/images/customize.png" /><br><br>
                <h2 id="h">Personalized</h2>
                <p id="sub-h">Select your stocks. Select your weights. We'll analyze your portfolio.</p>
                <a href="{{url_for('assess_personalized_portfolio')}}"><button class="btn btn-primary" id="btn-1">Learn More</button></a>
            </div>
        </div>
        <div class="col text-center">

            <div id="feature-2">
                <img id="icon-2" src="/static/images/advice.png" /><br><br>
                <h2 id="h">Suggested</h2>
                <p id="sub-h">Select your stocks. We'll give you the best weights.</p>
                <a href="{{url_for('assess_suggested_portfolio')}}"><button class="btn btn-primary" id="btn-2">Learn
                        More</button></a>
            </div>
        </div>
        <div class="col text-center">

            <div id="feature-3">
                <img id="icon-3" src="/static/images/chip.png" /><br><br>
                <h2 id="h">Automated</h2>
                <p id="sub-h">We'll give you the best stocks with the best weights for long term investment.</p>
                <a href="{{url_for('assess_automated_portfolio')}}"><button class="btn btn-primary" id="btn-3">Learn
                        More</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}