{% extends 'base.html' %}

{% block title %}Features Page{% endblock %}

{% block content %}
<h1>What's in store for you?</h1>
<p>Be assured, our calculations provide the best of results for our investors</p>
<a href="{{url_for('assess_personalized_portfolio')}}"><button>
    <i class="fa-solid fa-magnifying-glass"></i>
    <h2>Personalized</h2>
    <p>Select your stocks. Select your weights. We'll analyze your portfolio</p>
</button></a>
<a href="{{url_for('assess_suggested_portfolio')}}"><button>
    <i class="fa-solid fa-hand-holding"></i>
    <h2>Suggested</h2>
    <p>Select your stocks. We'll give you the best weights.</p>
</button></a>
<a href="{{url_for('assess_automated_portfolio')}}"><button>
    <i class="fa-solid fa-wand-magic-sparkles"></i>
    <h2>Automated</h2>
    <p>We'll give you the best stocks with best weights for long term investment.</p>
</button></a>
{% endblock %}