{% extends 'base.html' %}

{% block title %}Sign Up Page{% endblock %}

{% block content %}
<h1>Sign Up page</h1>
<form method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    {% for field in form %}
    {% if field.id != 'csrf_token' %}
    <div>
        {{field.label()}}
        <br>
        {{field()}}
    </div>
    <div>
        {% if field.description and not field.errors %}
        {{field.description}}
        {% endif %}
    </div>
    <div>
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
    <br>
    <button type="submit">Sign Up</button>
</form>
{% endblock %}