:root {
    --blue: #3D99FE;
    --cyan: #6DF0F0;
    --yellow: #D9F576;
    --black: #100F15;
}
body{
    background-color: var(--black);
}
#signbtn {
    text-decoration: underline;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#logo {
    width: 70%;
    padding: 0% 5%;
}
#feature-1, #feature-2, #feature-3{
    border: 1px solid var(--blue);
    border-radius: 20px;
    padding: 25px 20px;
}
#feature-1:hover, #feature-2:hover, #feature-3:hover{
    border: 1px solid var(--blue);
    background: linear-gradient(101.02deg, rgba(61, 153, 254, 0.71) 9.26%, rgba(109, 240, 240, 0.71) 107.36%);
    box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 25px 20px;
    animation: feature-anm 2s ease-in-out;
}
#feature-1:hover, #feature-2:hover, #feature-3:hover #h{
    color: var(--black);
}
.col{
    padding: 30px;
}
#h{
    font-family: 'Poppins', sans-serif;
}
#sub-h{
    color: #cacaca;
}
#btn-1, #btn-2, #btn-3{
    padding: 10px 30px;
    border: none;
    color: white;
    background: linear-gradient(101.02deg, rgba(61, 153, 254, 0.71) 9.26%, rgba(109, 240, 240, 0.71) 107.36%);
    box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-family: 'Poppins', sans-serif;
}
#btn-1:hover, #btn-2:hover, #btn-3:hover{
    padding: 10px 30px;
    border: none;
    color: white;
    background: var(--black);
    box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-family: 'Poppins', sans-serif;
}
#icon-1, #icon-2, #icon-3{
    height: 100px;
    padding: 10px;
}
#row{
    padding: 20px;
}
#store{
    width: 40%; margin: auto;
}
@keyframes feature-anm {
    0%{
        transform:scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
@media (max-width: 700px) {
    body{
        background-image: url('/static/images/bg-mob.png');
        background: cover;
        background-repeat: no-repeat;
        background-size: 100vw;
    }
    #row{
        padding: 70% 0 0 0;
        width: 100vw;
    }
    #main-div{
        margin-top: 60vw;
    }
    #store{
        width: 90%;
    }
}
@media (min-width: 700px) {
    body{
        background-image: url('/static/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}