:root {
    --blue: #3D99FE;
    --cyan: #6DF0F0;
    --yellow: #D9F576;
    --black: #100F15;
}

body {
    background-image: url('bg.png');
    background-size: cover;
    background-color: var(--black);
}
#left, #right{
    padding: 20px 30px 10px 0;
}
#collapsed-sidebar{
    background: rgba(52, 52, 52, 0.36);
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 20px 20px 0px;
    margin: 0;
    height: 92vh;
    position: fixed;
    z-index: 1;
}
#search-bar{
    background: rgba(52, 52, 52, 0.36);
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    margin: 0;
}
#toggle-theme{
    background: rgba(52, 52, 52, 0.36);
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin: 0;
}
#theme-btn{
    height: 40px;
    width: 40px;
    padding: 0px;
}
#main-div{
    background: rgba(52, 52, 52, 0.36);
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    margin: 0;
    padding: 20px 15px;
}
#main-heading, #sub-heading, #heading-budget, h5{
    font-family: 'Poppins', sans-serif;
}
#sub-heading{
    color: #a5a5a5;
}
#portfolio-btn-div{
    background: rgba(52, 52, 52, 0.36);
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        margin: 0px;
        border: none;
        padding: 10px;
}
#portfolio-btn{
    text-align: left;
    color: var(--cyan);
}
#stock-name, #stock-weight{
    background: rgba(52, 52, 52, 0.36);
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        margin: 0px;
        border: none;
        padding: 10px;
}
@media (max-width: 700px) {
    #news-div, #toggle-theme, #tabs, #suggestions-row-div, #left{
        display: none;
    }
    #collapsed-sidebar{
        height: auto;
    }
    #right{
        padding: 20px;   
    }
    #mob-menu{
        background: rgba(52, 52, 52, 0.36);
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        margin: 0;
        padding: 4px;
    }
    #mob-menu-div{
        padding-right: 0;
    }
}

@media (min-width: 700px) {
    #mob-menu-div{
        display: none;
    }
}